body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

header a {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

header a:hover {
    background-color: #1c86ee;
}

h1 {
    color: #1e90ff;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0f8ff;
    margin: auto; /* 중앙 정렬을 위해 추가 */
}

.login-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #1c86ee;
}

/* 캘린더 스타일 */
#calendar-header {
    text-align: center;
    margin-bottom: 20px;
}

#monthAndYear {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #1e90ff;
}

#calendar {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 150px auto; /* 상단과 하단에 충분한 여백 추가 */
    width: 100%;
    max-width: 1200px; /* 최대 너비를 더 크게 확대 */
    overflow: visible; /* 캘린더가 짤리지 않도록 설정 */
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.cell-content {
    min-height: 100px;
}

/* 부모 요소의 높이와 스크롤 조정 */
body {
    height: auto; /* 자동 높이 설정으로 콘텐츠에 맞춰 조정 */
    margin: 0;
    padding: 0;
}

html {
    height: 100%; /* 페이지 전체 높이 설정 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
}



/* 버튼 스타일 */
#edit-btn, #save-btn {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#edit-btn:hover, #save-btn:hover {
    background-color: #1c86ee;
}

/* 요약 정보 스타일 */
.summary {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 5px;
}